version: '3.6'

services:
  vbm-auth:
    image: darkh14/vbm_auth:latest
    build:
      context: ./vbm-auth
      dockerfile: Dockerfile      
    container_name: vbm-auth
    ports:
      - "127.0.0.1:9061:8080"
    networks:
      - vbm-network      
    env_file:
      - .env
    depends_on:
      - vbm-mongodb
    restart: unless-stopped      

  vbm-main:
    image: darkh14/vbm_main:latest
    build:
      context: ./vbm-main
      dockerfile: Dockerfile      
    container_name: vbm-main
    ports:
      - "127.0.0.1:9060:8080"
    networks:
      - vbm-network        
    env_file:
      - .env
    volumes:
      - ./vbm-main/models:/vbm-main/models     
    depends_on:
      - vbm-mongodb
    restart: unless-stopped

  vbm-mongodb:
    image: mongo:6.0.21
    container_name: vbm-db  
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
      - MONGO_INITDB_ROOT_USERNAME=${DATABASE_USR:-admin}
      - MONGO_INITDB_ROOT_PASSWORD=${DATABASE_PASSWORD:-123456}      
    volumes:
      - ./mongo/data:/data/db
      - ./mongo/config:/data/configdb      
    ports:
      - "127.0.0.1:27217:27017"
    networks:
      - vbm-network        

networks:
  vbm-network:
    driver: bridge
